.box{
    width: 100px;
    height: 100px;
    background-color: hotpink;
    margin-bottom: 10px;

}
button{
    margin-bottom: 10px;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    margin-bottom: 10px;
    display: none;
}
.my-box3
{
   width: 100px;
   height: 100px;
   background-color: brown;
   display: none;
}